<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunqiao.myblog.mapper.AdminMapper">


    <select id="getAdminById" resultType="com.sunqiao.myblog.bean.Admin">
      select * from sq_admin where id = #{id}
    </select>
    <update id="updateAdmin" parameterType="com.sunqiao.myblog.bean.Admin">
        update sq_admin set userName=#{userName},password=#{password},sign=#{sign},location=#{location}
  ,callself=#{callself},nickName=#{nickName},imageName=#{imageName}

  where id=#{id}

    </update>



</mapper>