<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunqiao.myblog.mapper.BlogLogMapper">
    <!--通过ID查询博文信息-->
    <select id="getBlogLogByLid" resultType="map">
      select * from sq_bloglog
    </select>

    <insert id="insertBlogLog" parameterType="com.sunqiao.myblog.bean.BlogLog">
        insert into sq_bloglog (lid,info, releasedate)
        values (#{lid},#{info},#{releasedate})
    </insert>

    <update id="updateBlogLog" parameterType="com.sunqiao.myblog.bean.BlogLog">
        update sq_bloglog set info=#{info}
        where lid = #{lid}

    </update>

    <delete id="deleteBlogLog" >
        delete from sq_bloglog where lid = #{lid}
    </delete>

</mapper>