<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunqiao.myblog.mapper.BlogTypeMapper">

    <select id="getBlogTypeById" resultType="map">
      select
      id as id,
      typeName as typeName
      from sq_blogtype
    </select>


    <insert id="insertBlogType" parameterType="com.sunqiao.myblog.bean.BlogType">
        insert into sq_blogtype(id,typeName)
      values (#{id},#{typeName})
    </insert>

    <update id="updateBlogType" parameterType="com.sunqiao.myblog.bean.BlogType">
         update sq_blogtype set typeName=#{typeName}
         where id = #{id}

    </update>

    <delete id="deleteBlogType" >
        delete from sq_blogtype where id = #{id}

    </delete>

</mapper>