<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunqiao.myblog.mapper.BlogTypeMapper">
    <!--通过ID查询博文类型信息-->
    <select id="getBlogTypeByIdMapper" resultType="com.sunqiao.myblog.bean.BlogType">
      select * from sq_blogtype where id = #{id}
    </select>



</mapper>