<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunqiao.myblog.mapper.CommentMapper">
    <!--通过ID查询博文类型信息-->
    <select id="getComment" resultType="map">
      select
      id as id,
      userIp as userIp,
      blogId as blogId,
      content as content,
      commentDate as commentDate,
      state as state,
      nickName as nickName,
      mailAddress as mailAddress,
      personal as personal
      from sq_comment
    </select>

    <insert id="insertComment" parameterType="com.sunqiao.myblog.bean.Comment">
    insert into sq_comment(id,userIp,blogId,content,commentDate,state,nickName,mailAddress,personal)
      values (#{id},#{userIp},#{blogId},#{content},#{commentDate},#{state},#{nickName},#{mailAddress},#{personal})

    </insert>

    <delete id="deleteComment" >
        delete from sq_comment where id = #{id}

    </delete>



</mapper>